@use './variables' as *;
@use './mixin' as *;
@use './typography' as *;



// resets
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'AvenirNext';
}


// header styles
.header {
    background-color: $primary-color-text--dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    @include tablet {
        justify-content: flex-start;
        flex-direction: row;
        padding-left: 2rem;
    }
    @include desktop {
        padding-left: 8rem;
        padding-top: 1.5rem;
    }

    &__logo {
        max-width: 7.5rem;
        max-height: 1.25rem;
        @include tablet {
        margin-bottom: 1rem;
        }
    }

    // header navigation
    &__nav {
        width: 100%;
        @include tablet {
            width:auto;
        }
    }
    
    &__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 600;
    }

    &__item {
        width: 50%;
        text-align: center;
    
        @include tablet {
            width: auto;
            margin-left: 3rem;
        }
    }   
     // header links
     &__link {
        color: $secondary-color-text;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 0.5rem 0;
        @include tablet {
            padding-bottom: 1.5rem;
        }

        // selected nav link
        &--selected {
            border-bottom: 4px $primary-color-text--light solid;
            color: $primary-color-text--light;
        }
    }
}


// footer styles
.footer {
    background-color: $primary-color-text--dark;
    color: $primary-color-text--light;
    padding: 0.5rem 1rem;
    @include tablet {
        padding: 2rem 2rem 1rem;
    }
    @include desktop {
        padding: 2rem 8rem 1rem;
    }

    //footer top row container
    &__social-nonmobile {
        @include tablet {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    }

    &__social{
        @include tablet {
        display: flex;
        align-items: baseline;
        }
    }

    &__header {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
        padding: 1rem 0;
        font-weight: 600;
        margin-right: 2rem;
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
        }
        @include desktop {
            margin-right: 3rem;
        }
    }

    &__icons-container {
        width: 8rem;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        text-decoration: none;
        color: $primary-color-text--light;
    }

    &__contacts {
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding:1rem 0 2.5rem;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: .875rem;
            line-height: 1.25rem;
            padding-bottom: 1rem;
        }
        @include desktop {
            width: 70%;
        }
    }

    &__contact-card {
        padding-bottom: 0.5rem;
    }

    &__card-title {
        font-weight: 600;
    }

    &__address{
        font-style:normal;
        padding: 0.5rem 0;
    }

    //footer wordmark mobile
    &__wordmark-mobile {
        @include tablet {
            display: none;
        }
    }

    //footer wordmark tablet & desktop
    &__wordmark-notmobile {
        display: none;
        @include tablet {
            display: contents;
        }
    }

    &__copyright {
        font-size: .625rem;
        line-height: 1.125rem;
        font-weight: 400;

        @include tablet {
            font-size: .8125rem;
            line-height: 1.25rem;

        }
    }
}