// breakpoints
$breakpoint-tablet:768px;
$breakpoint-desktop:1280px;

// primary colors
$primary-color-text--dark:#323232; 
$secondary-color-text: #AFAFAF;
$primary-color-text--light:#FFFFFF;

// secondary colors
$secondary-color-cta-hover: #000000;
$secondary-color-divider: #E1E1E1;
$secondary-color-alt: #fafafa;
$secondary-color-error: #D22D2D;

// fonts
@font-face {
    font-family: 'AvenirNext';
    src: url('../assets/font/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'AvenirNext';
    src: url('../assets/font/AvenirNextLTPro-Demi.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'AvenirNext';
    src: url('../assets/font/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: 700;
}



