@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext";
}

.header {
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 0.5rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.header__wordmark {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 0 0 0.5rem;
  text-align: center;
}
.header__link {
  color: #AFAFAF;
  text-decoration: none;
  width: 100%;
  display: block;
  padding-bottom: 0.5rem;
}
.header__link--selected {
  border-bottom: 4px #FFFFFF solid;
  color: #FFFFFF;
}
.header__link--wordmark {
  color: #FFFFFF;
  padding: 0;
}
.header__nav {
  width: 100%;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.header__item {
  width: 50%;
  text-align: center;
}

.hero {
  background-image: url("../../assets/images/hero-bio.jpg");
  background-size: cover;
  height: 60vw;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  align-items: center;
}
.hero__overlay {
  background-color: #323232;
  opacity: 50%;
  width: 100%;
  height: 60vw;
  position: absolute;
}
.hero__title {
  margin: 0;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  position: absolute;
}

.about {
  color: #323232;
  padding: 1rem;
}
.about__header {
  font-weight: 600;
  margin: 0 0 1rem;
}
.about__subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-style: normal;
}
.about__cite {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-style: normal;
  display: block;
  margin: 0.6rem 0;
}
.about__photo {
  width: 100%;
}
.about__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-style: normal;
}
.about__body {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-right: 0.6rem;
}

.gallery {
  padding: 1rem 1rem 0;
  background-color: #fafafa;
}
.gallery__header {
  color: #323232;
  font-weight: 600;
  line-height: 1.375rem;
}
.gallery__photos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gallery__photo {
  width: 100%;
  margin-bottom: 1rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
}
.footer__header {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  padding: 1rem 0;
  font-weight: 600;
}
.footer__icons-container {
  width: 8rem;
  display: flex;
  justify-content: space-between;
}
.footer__link {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__contacts {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 1rem 0 2.5rem;
}
.footer__contact-card {
  padding-bottom: 0.5rem;
}
.footer__card-title {
  font-weight: 600;
}
.footer__address {
  font-style: normal;
}
.footer__wordmark {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 0 0 0.5rem;
}
.footer__wordmark--notmobile {
  display: none;
}
.footer__copyright {
  font-size: 0.625rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-top: 0.5rem;
}/*# sourceMappingURL=bio.css.map */